---
layout: default
title: Alumni
---

<header>
	<nav>
		<h1>
			<a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logos/mithci.svg' | relative_url }}" alt="MIT HCI" /></a>
			<svg viewBox="0 0 175 134"><use xlink:href="{{ '/assets/images/logos/csail.svg#logo' | relative_url }}" /></svg>
		</h1>
		<ul>
		</ul>
	</nav>

	<h2>Alumni</h2>
</header>

<section id="previous">

	{% for year in site.data.alumni %}
	<h2 class="seminaryear" id="{{ year[0] }}">{{ year[0] }}</h2>
	{% for person in year[1] %}
    <article>
		<div>
			{{ person.name }}, {{ person.position }}
		</div>
	</article>
	{% endfor %}
	{% endfor %}

</section>